/* .style{
    cursor: pointer;
    height: 50px;
    width: 50px;
    box-shadow: 2px 2px 3px #333;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.pink{
    background-color: rgb(230, 7, 246);
}
.purple{
    background-color: purple;
}
.black{
    background-color: black;
}
.orange {
    background-color: orange;
  }
  .green {
    background-color: green;
  }
  .peach {
    background-color: peachpuff;
  }
  .magenta {
    background-color: magenta;
  }
  .lavender {
    background-color: rgb(167, 67, 255);
  }
  .OliveGreen {
    background-color: olive;
  } */